doctype 5
html
  head
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/javascripts/jquery-1.7.1.min.js")
    script(type="text/javascript" src="javascripts/main.js")
  body
    div#parentcontainer
      div#pedalist_logo
      div#buttons
        button#start_button Start
        button#stop_button Stop
      div#track
        p#tracking.
          Tracking!
        p#track_complete.
          Complete!